a, a:link, a:visited{
 color: $color-black;
}
body{
	background: $color-gray-light;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
.loader{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99;
	background: $color-intro;
	width: 100%;
	img{
		animation: spin 4s linear infinite;
		margin: 0 auto;
		display: block;
	}
}
.social{
  	font-size: 19px;
  	line-height: 1.4;
	a{
		color: $color-white;
	}
	a:hover{
		color: rgba($color-white, .5);
	}
	a:first-of-type{
		margin-right: 10px;
	}
}
.centerWrap{
	display: table;
	.center{
		display: table-cell;
		margin-right: auto;
		margin-left: auto;
		vertical-align: middle;
	}
}

.chevron{
	font-size: 2em;
	padding: .1em;
	color: $color-black;
	display: block;
	&:hover{
		color: $color-black;
		opacity: 0.5;
	}
}